{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Créer un nouveau billet et une critique</h2>
    <form class="forms" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Billet :</legend>
            {{ ticket_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Critique :</legend>
            {{ review_form.as_p }}
        </fieldset>
        <button type="submit" class="button right--button">Envoyer</button>
    </form>
</div>
{% endblock %}
